{
    email certs@sovereign.zue.dev
}

https://sovereign.zue.dev {
    file_browser browse
}

https://unraid.sovereign.zue.dev {
    reverse_proxy https://100.103.157.31 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

https://portainer.sovereign.zue.dev {
    reverse_proxy https://localhost:9443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

https://portainer-tunnel.sovereign.zue.dev {
	reverse_proxy http://localhost:8000
}

https://zuedev-foundry-the-travellers.sovereign.zue.dev {
    reverse_proxy http://localhost:53222
}

https://foundry-pizzaold-dnd5e.sovereign.zue.dev {
    reverse_proxy http://localhost:43322
}

https://foundry-hanz-cpr-2.sovereign.zue.dev {
    reverse_proxy http://localhost:43331
}

https://collin-foundry.sovereign.zue.dev {
    reverse_proxy http://localhost:53883
}

https://lobechat.sovereign.zue.dev {
    reverse_proxy http://localhost:3210
}

https://git.zue.dev {
	reverse_proxy http://localhost:4773
}
